local_vars.py
devtmp
biocomp-static
__cache
__pycache__
*.pyc
*.egg-info
.DS_Store
wandb

biocomptools/B1_3Dframes
pyrightconfig.json
repo*
.repo*

.envrc
biocomptools/tuner-ui/node_modules
biocomptools/tuner-ui/package-lock.json
biocomptools/tuner_app_react

tmp/
runner_logs/
.ruff_cache/
.pytest_cache/
.venv/
repomix-output.txt
